body {
  background: #ccc;
  /* fondo gris para ver márgenes */
}

.hoja {
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  margin: auto;
  background: white;
  box-sizing: border-box;
  font-size: 11px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td,
th {
  border: 1px solid #000;
  padding: 3px;
  word-wrap: break-word;
  font-size: 10px;
}

tr {
  page-break-inside: avoid;
}

@media print {
  .hoja {
    margin: 0;
    box-shadow: none;
  }
}

.encabezado {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.encabezado td {
  border: 1px solid black;
  padding: 6px;
  font-size: 12px;
}

.logo {
  width: 75%;
  text-align: center;
  vertical-align: middle;
}

.logo img {
  width: 70px;
}

.centro {
  width: 60%;
}

.info {
  width: 25%;
  text-align: center;
}

.barra td {
  background-color: #000000;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}

.enca td {
  text-align: center;
  font-weight: bold;
}

.nombre td {
  text-align: center;
}

.datos-contrato {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.datos-contrato td {
  border: 1px solid black;
  padding: 6px;
  font-size: 12px;
  text-align: center;
}

.resaltado {
  font-weight: bold;
  text-align: center;
}

.nombre {
  text-align: center;
  font-weight: bold;
}

.fecha-venc {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  height: 25px;
}

.top-align {
  vertical-align: top !important;
}

.tralalero td {
  text-align: left;
}

.amarillo {
  background-color: #ffff00 !important;
  font-weight: bold;
}